.chef {
    padding-top: 90px;
    background-color: #fff !important;
  }
  
  .chef .section-heading {
    margin-bottom: 70px;
  }

  .chef .section-heading .subheading-chef {
    color: #5C7B74;
    font-size: 20px;
  }
  
  .chef .section-heading h6 {
    padding-left: 0px;
  }
  
  .chef .section-heading h6:before {
    display: none;
  }
  
  .chef .chef-item {
    text-align: center;
    border: 1px solid #afafaf;
    padding: 5px;
    transition: all .5s;
    border-radius: 3px;
  }
  
  .chef .chef-item:hover {
    border-color: #5C7B74;
  }
  
  .chef .chef-item:hover .down-content h4 {
    color: #5C7B74;
  }
  
  .chef .chef-item .thumb {
    position: relative;
  }
  
  .chef .chef-item .thumb img {
    width: 100%;
    overflow: hidden;
    position: relative;
  }
  
  .chef .chef-item .thumb .overlay {
    position: absolute;
    background-color: #2a2a2a;
    border-radius: 3px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
  }
  
  .chef .chef-item .thumb ul.social-icons {
    position: absolute;
    z-index: 11;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    transition: all .5s;
    opacity: 0;
    visibility: hidden;
    padding: 0 !important;
  }
  
  .chef .chef-item .thumb ul.social-icons li {
    display: inline-block;
    margin: 0px 5px;
  }
  
  .chef .chef-item .thumb ul.social-icons li a {
    width: 40px;
    height: 40px;
    background-color: #fff;
    color: #2a2a2a;
    border-radius: 50%;
    text-align: center;
    line-height: 43px;
    display: inline-block;
    transition: all .5s;
  }
  
  .chef .chef-item .thumb ul.social-icons li a:hover {
    background-color: #5C7B74;
  }
  
  .chef .chef-item:hover .overlay {
    opacity: .9;
    visibility: visible;
  }
  
  .chef .chef-item:hover ul.social-icons {
    opacity: 1;
    visibility: visible;
  }
  
  .chef .chef-item .down-content {
    padding: 20px 0px;
  }
  
  .chef .chef-item .down-content h4 {
    transition: all .3s;
    font-size: 20px;
    font-weight: 700;
    color: #2a2a2a;
  }
  
  .chef .chef-item .down-content span {
    font-size: 18px;
    color: #2a2a2a;
  }

  .chef .chef-item {
    margin-bottom: 30px;
  }