@font-face /*perintah untuk memanggil font eksternal*/
        {
            font-family: 'Nyala'; /*memberikan nama bebas untuk font*/
            src: url('/font/nyala/nyala.ttf');/*memanggil file font eksternalnya di folder nexa*/
        }
@font-face /*perintah untuk memanggil font eksternal*/
        {
            font-family: 'corbel'; /*memberikan nama bebas untuk font*/
            src: url('/font/corbel/CORBEL.ttf');/*memanggil file font eksternalnya di folder nexa*/
        }